# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.odt
*.log
*.csv

# Project specific
config/
backtesting/
plots/
data/raw/*
data/processed/*
models/*
models/*.h5
models/*.keras
models/*.pkl
logs/*
.DS_Store